body {
  color: black;
  background: gray;
}

h1 {
  color: #990000;
}

h2 {
  color: #990000;
}

header{
  margin: 10px;
  background: #6699ff;
  height: 150px;
  padding: 30px;
  border-radius: 50px;
}

section {
  margin: 10px;
  padding: 30px;
  border-radius: 50px;
  background: #8585ad;
}
